body{
    font-size: 14px;
    font-family: Open-Sans;
    background-color: #f2f2f2;
}
.contenu{
    max-width: 810px;
    margin-left: auto;
    margin-right:auto ;
    text-align: center;
    padding: 10px;
    width: 750px;
}
header{
    background-image: url(image-fond.jpg);
    height: 150px;
}
#titre{
    font-family: nasalization-rg;
    font-size: 40px;
    color: #27d1ff;
    vertical-align: middle;
    text-align: center;
}
.navigation{
    display: inline-block;
    background-color: #2e2f30;
}
.liens{
    padding-right: 50px;
    margin: 0px;
    color: white;
    text-align: right;
    vertical-align: middle;
}
fieldset:hover a {
    text-decoration: none;
    color: #17c1ff;
}
footer{
    text-align: center;
}
#titre-secondaire{
    text-shadow: 2px 2px 4px black;
    background-color: #e6e6e6;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#displayed{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.left{
    float: left;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.right{
    float: right;
}
@font-face{font-family: nasalization-rg; src: url("nasalization-rg.ttf");}
@font-face{font-family: Open-Sans; src:url("OpenSans-Regular.ttf");}
